.center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* clock size */
.clock {
	font-size: 4em;
	font-family: sans-serif;
}

body{
	background-color:#7f8c8d;
}

body{
	color: white;
}

.form, .greetings{
	display: none;
}


/* greeting showing */
.showing{
	display: block;
	font-size: 36px;
  	margin-bottom: 20px;
}

/* when refreshing the page */
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/* background image */
.bgImage{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation: fadeIn .5s linear;
}

/* location and weather info */
.weather{
	opacity: 0.7;
	transition: opacity 0.3s ease-in;
	font-style: italic;
	font-size: 12px;
	position: absolute;
	bottom: 25px;
	left: 25px;
}

.weather:hover{
	opacity: 1;
}

.toDo_btn{
	margin-right: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* to do list */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }

  ul {
	margin-top: 50px;
  }

.list {
	margin-bottom: 20px;
  }

  /* input field */
  input {
	background: none;
	appearance: none;
	border: 0;
	font-size: 22px;
	color: white;
	border-bottom: 2px solid white;
  }

  input::placeholder {
	color: white;
  }

  input:focus,
  input:active {
	outline: none;
  }
